
[submodule "gen"]
	path = gen
	url = http://github.com/Mineshaft-game/gen1121.git
[submodule "render"]
	path = render
	url = http://github.com/Mineshaft-game/RenderMite.git
[submodule "api/storyscript"]
	path = api/storyscript
	url = https://github.com/StoryScriptorg/StoryScript
