[submodule "render/rendermite"]
	path = render/rendermite
	url = https://github.com/Mineshaft-game/RenderMite
[submodule "assets"]
	path = assets
	url = http://localhost:3000/Mineshaft/Assets.git
[submodule "gen"]
	path = gen
	url = http://localhost:3000/Mineshaft/gen1121.git
[submodule "render"]
	path = render
	url = http://localhost:3000/Mineshaft/RenderMite.git
[submodule "RenderMite"]
	path = RenderMite
	url = https://github.com/Mineshaft-game/RenderMite
