[Desktop Entry]

# The type as listed above
Type=Application


# The name of the application
Name=Mineshaft (alpha)

# A comment which can/will be used as a tooltip
Comment=Attempt to recreate Minecraft in 2D

# The path to the folder in which the executable is run
Path=$HOME/Mineshaft

# The executable of the application, possibly with arguments.
Exec=python3 $HOME/Mineshaft/main.py

# The name of the icon that will be used to display this entry

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Education;Languages;Python;Pygame;Minecraft;Games;Mineshaft;
